@import url('https://fonts.cdnfonts.com/css/times-new-roman');


body{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    font-size: 120%;
}

body h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 450%;
    margin-bottom: -1%;
}

body h4{
     text-align: center;
     font-size: 129%;
     font-family:'Times New Roman', Times, serif
}

.Social-media{
    position: relative;
    display: flex;
    gap: 90px;
    justify-content: center;
    word-spacing: normal;
    letter-spacing: normal;
}

.fa-github{
    margin: -1.8rem;
}

.fa-envelope{
    margin: -0.5rem;
}

.fa-linkedin{
    margin: -0.5rem;
}

.fa-instagram{
    margin: -1.5rem;
}

.fa-whatsapp{
    margin: -3rem;
}

.line1{
    position: relative;
    overflow: hidden;
}

.line1::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    background-color: black;
    height: 3px;
}

.line2{
    position: relative;
    overflow: hidden;
}

.line2::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    background-color: black;
    height: 3px;
}

.line3{
    position: relative;
    overflow: hidden;
}

.line3::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    background-color: black;
    height: 3px;
}

.line4{
    position: relative;
    overflow: hidden;
}

.line4::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    background-color: black;
    height: 2px;
}

.line5{
    position: relative;
    overflow: hidden;
}

.line5::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    background-color: black;
    height: 3px;
}

.bab_satu p{
    font-size: 120%;
    margin-bottom: 3%;
}

.p1 {
    font-size: 120%;
    margin-bottom: 3%;
}

.p2 {
    font-size: 120%;
    text-align: end;
    margin-top: -24px;
    left: 43%;
    margin-bottom: 3%;
}

.p3{
    font-size: 120%;
    margin-bottom: 3%;
}

.p4 {
    font-size: 120%;
    
}

.p5 {
    font-size: 127%;
}

.p6 {
    font-size: 120%;
    text-align: end;
    margin-top: -50px;
    left: 43%;
    margin-bottom: 3%;
}

.p7{
    font-size: 120%;
    margin-bottom: 3%;
}

.p8 {
    font-size: 120%;
    margin-bottom: 3%;
}

.p9{
    font-size: 120%;
    margin-bottom: 3%;
}

.p10 {
    font-size: 120%;
    margin-bottom: 3%;
}

.p11 {
    font-size: 127%;
}

.p12 {
    font-size: 120%;
    text-align: end;
    margin-top: -50px;
    left: 43%;
    margin-bottom: 3%;
}

.p13 {
    font-size: 127%;
}

.p14 {
    font-size: 127%;
}

.p15 {
    font-size: 127%;
}

.p16 {
    font-size: 127%;
}

.p17{
    font-weight: bold; 
    font-size: 127%;
}

.p18{
    font-weight: bold;
    font-size: 127%; 
}

.p19{
    font-weight: bold;
    font-size: 127%; 
}

.baris{
    font-size: 127%;
    margin-left: 1%;
}

.baris1{
    font-size: 127%;
    margin-left: 1%;
}

.baris2{
    font-size: 127%;
    margin-left: 1%;
}